:root {
  --color-dark-brown: #231709;
  --color-medium-brown: #4B371C;
  --color-deep-brown: #3C280D;
  --color-warm-brown: #795C34;
  --color-light-brown: #9A7B4F;
  --color-coffee: #362511;
  --color-terracotta: #80471C;
  --color-dark-taupe: #4A3728;
  --color-white: #f9f9f9;
  --color-black: #000000;
  --color-light-gray: #D4D4D4;
  --color-text-gray: #6C6A6A;
  --color-text-gray-ph: #B1B1B1;
  --color-titles-p: #CF856F;
  --color-titles-s: #906D62;
  --color-bg-footer: #bca097c2;
  --color-hover-elements: #B76A57;
}


html {
  font-size: 14px;
  /* El tamaño base de la fuente es 16px */
}

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100vw;
}

/* ====================== NARBAR ====================== */
.navbar {
  background-color: #cf856f98 !important;
  position: fixed;
  /* Hace que la barra de navegación sea fija */
  top: 0;
  width: 100%;
  /* Abarca todo el ancho de la pantalla */
  z-index: 1000 !important;
  /* Asegura que esté por encima del contenido */
  font-family: "Raleway", sans-serif;
  /* Aplica la tipografía Raleway */
}

/* Cambiar el color del texto de los enlaces a blanco */
.navbar .nav-link {
  color: var(--color-white) !important;
  /* Color blanco para los enlaces */
}

/* Ajustar el espacio entre los enlaces de navegación */
.navbar-nav .nav-item {
  margin-left: 30px;
  /* Ajusta el espacio entre los links */
}

.navbar-nav .nav-item:first-child {
  margin-left: 0;
  /* Elimina el margen del primer enlace */
}

/* Estilo para cuando un enlace de navegación está activo */
.nav-link.active {
  position: relative;
  font-weight: bold;
  /* Destacar el enlace activo */
}

.nav-link.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 1px;
  /* Ajusta este valor si quieres que la línea esté más separada del texto */
  width: 100%;
  height: 3px;
  /* Grosor de la línea */
  background-color: var(--color-titles-s);
  /* Color de la línea, puedes cambiarlo */
}

/* Añadir padding superior al body para evitar que el contenido quede oculto detrás de la barra de navegación */
body {
  padding-top: 70px;
  /* Ajusta este valor si tu navbar tiene diferente altura */
}

.spa-name {
  color: var(--color-white);
}


/* ====================== SECCIÓN BIENVENIDA ====================== */
/* Estilo de animación para la imagen en la sección de bienvenida */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s, color 0.3s;
  /* Transición suave */
}

body.dark-mode {
  background-color: var(--color-black, #121212);
  /* Fondo oscuro */
  color: var(--color-white, #ffffff);
  /* Texto claro */
}

#bienvenida {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  /* Ancho total de la ventana */
  transition: background-color 0.3s, color 0.3s;
}

#bienvenida img {
  max-width: 100%;
  border-radius: 10px;
}

.nav-link {
  cursor: pointer;
  text-decoration: none;
  color: var(--color-black, #000000);
}

.nav-link:hover {
  text-decoration: underline;
}

.dark-mode .nav-link {
  color: var(--color-white, #ffffff);
}

#bienvenida .image-hover img {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border-radius: 10px;
}

/* Espaciado entre el texto y la imágen */
#bienvenida .col-md-6 {
  padding-left: 40px;
  padding-right: 40px;
}

/* Estilos adicionales para mejorar la presentación */
#bienvenida .card-title {
  color: var(--color-titles-p);
  font-family: "Impact", sans-serif;
  font-style: normal;
  text-align: center;
  /* Centra el título */
  font-size: 2.5rem;
  /* Tamaño del texto */
  margin-bottom: 30px;
  /* Espacio debajo del título */
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }
}

#bienvenida .card-text {
  color: var(--color-text-gray);
  font-family: 'Segoe UI', sans-serif;
  font-weight: 350;
  font-style: normal;
  text-align: justify;
  font-size: 1.2rem;
  margin-bottom: 10px;
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }
}



/* Estilo para imágenes redondeadas */
#conocenos .rounded-img {
  border-radius: 15px;
  /* Puedes ajustar el valor según el nivel de redondez deseado */
}


#bienvenida .image-hover img:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.image-hover img {
  transition: transform 0.3s ease-in-out;
}

.image-hover img:hover {
  transform: translateY(-10px);
}


/* ====================== ANIMACIONES ====================== */
/* 1. Desplazamiento desde la Izquierda (Slide In Left) */
@keyframes slideInLeft {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-left {
  opacity: 0;
  /* Inicialmente invisible */
  transition: opacity 0.5s ease;
}

.slide-in-left.active {
  animation: slideInLeft 0.5s forwards;
  /* Aplica la animación */
  opacity: 1;
  /* Asegura que se muestre al final de la animación */
}


/* 2. Desplazamiento desde la Derecha (Slide In Right) */
@keyframes slideInRight {
  from {
    transform: translateX(50px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-right {
  opacity: 0;
  /* Inicialmente invisible */
  transition: opacity 0.5s ease;
}

.slide-in-right.active {
  animation: slideInRight 0.5s forwards;
  /* Aplica la animación */
  opacity: 1;
  /* Asegura que se muestre al final de la animación */
}


/* 3. Desplazamiento desde Arriba (Slide In Up) */
@keyframes slideInUp {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-up {
  opacity: 0;
  /* Inicialmente invisible */
  transition: opacity 0.5s ease;
}

.slide-in-up.active {
  animation: slideInUp 0.5s forwards;
  /* Aplica la animación */
  opacity: 1;
  /* Asegura que se muestre al final de la animación */
}


/* 4. Desplazamiento desde Abajo (Slide Up) */
@keyframes slideInDown {
  from {
    transform: translateY(50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-down {
  opacity: 0;
  /* Inicialmente invisible */
  transition: opacity 0.5s ease;
}

.slide-in-down.active {
  animation: slideInDown 0.5s forwards;
  /* Aplica la animación */
  opacity: 1;
  /* Asegura que se muestre al final de la animación */
}


/* 5. Escalado (Scale Up) */
@keyframes scaleUp {
  from {
    transform: scale(0.8);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.scale-up {
  opacity: 0;
  /* Inicialmente invisible */
  transition: opacity 0.5s ease;
}

.scale-up.active {
  animation: scaleUp 0.5s forwards;
  /* Aplica la animación */
  opacity: 1;
  /* Asegura que se muestre al final de la animación */
}


/* 6. Desvanecimiento (Fade In) */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  /* Inicialmente invisible */
  transition: opacity 0.5s ease;
}

.fade-in.active {
  animation: fadeIn 0.5s forwards;
  /* Aplica la animación */
  opacity: 1;
  /* Asegura que se muestre al final de la animación */
}



/* ====================== SECCIÓN DESTACADO ====================== */
#destacado {
  /* background-color: #cf856f26; */
  width: 100vw;
  /* Ancho total de la ventana */
  min-height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#destacado .col-md-4 {
  padding: 20px;
  /* Espaciado interno para cada columna */
}

#destacado i {
  color: var(--color-titles-p);
  /* Color principal para los iconos */
  font-size: 3rem;
  /* Tamaño grande para que los iconos se destaquen */
  margin-bottom: 15px;
  /* Espaciado debajo del icono */
  transition: transform 0.3s ease;
  /* Efecto de transición al pasar el cursor */
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }

}

#destacado i:hover {
  transform: scale(1.1);
  /* Efecto de ampliación al pasar el cursor */
}

#destacado h3 {
  font-family: "Impact", sans-serif;
  font-style: normal;
  font-size: 1.6rem;
  /* Tamaño del texto */
  margin-bottom: 10px;
  /* Espacio debajo del título */
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }

}

#destacado p {
  font-family: 'Segoe UI', sans-serif;
  font-weight: 350;
  font-style: normal;
  font-size: 1.2rem;
  max-width: 80%;
  /* Limita el ancho del texto para mejorar la legibilidad */ 
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }

}

#destacado .text-primary-color {
  color: var(--color-titles-p);
  /* Color para la primera parte del texto */
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }

}


#destacado .text-primary-color {
  color: var(--color-titles-p);
  /* Color para la primera parte del texto */
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }

}


#destacado .text-secondary-color {
  color: var(--color-titles-s);
  /* Color para la segunda parte del texto */
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }

}



/* ====================== SECCIÓN OFERTAS POR TEMPORADA ====================== */
#ofertas_temp {
  /* Fondo claro */
  padding: 40px 0;
  width: 100vw;
  /* Ancho total de la ventana */
}
#ofertas_temp.dark-mode {
  background-color: var(--color-black, #121212);
  /* Fondo oscuro */
  color: var(--color-white, #ffffff);
  /* Texto claro */
}

#ofertas_temp h2 {
  font-family: "Impact", sans-serif;
  font-style: normal;
  font-size: 2.5rem;
  /* Tamaño del texto */
  margin-bottom: 10px;
  /* Espacio debajo del título */
}

#ofertas_temp .text-primary-color {
  color: var(--color-titles-p);
  /* Color para la palabra "Viernes" */
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }

}

#ofertas_temp .text-secondary-color {
  color: var(--color-titles-s);
  /* Color para las palabras "de Invierno" */
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }

}

.description-text {
  font-family: 'Segoe UI', sans-serif;
  color: var(--color-text-gray);
  font-weight: 350;
  font-style: normal;
  font-size: 1.2rem;
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }

}

#ofertas_temp .text-muted {
  font-family: 'Segoe UI', sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1.2rem;
  margin: 5px 0;
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }
}

.price-text {
  font-family: 'Segoe UI', sans-serif;
  color: var(--color-titles-s);
  /* Color del precio */
  font-weight: 400;
  font-size: 2.5rem;
  /* Tamaño más grande para el precio */
  margin-top: 10px;

  .dark-mode & {
    color: var(--color-white, #ffffff);
  }
}

#ofertas_temp .custom-button {
  background-color: var(--color-titles-p);
  padding: 5px 40px;
  color: var(--color-white);
  /* Color del texto del botón */
  border: none;
  /* Elimina el borde por defecto */
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  font-size: 1.2rem;
}

#ofertas_temp .custom-button:hover {
  background-color: var(--color-hover-elements);
  /* Color de fondo al pasar el cursor */
}

/* ====================== APARTADO TESTIMONIOS ====================== */
#testimonios {
  padding: 60px 0;
}

#testimonios .dark-mode {
  background-color: var(--color-black, #121212);
  /* Fondo oscuro */
  color: var(--color-white, #ffffff);
  /* Texto claro */
}

#testimonios .section-title {
  color: var(--color-titles-p);
  /* Color del título */
  font-family: "Impact", sans-serif;
  font-style: normal;
  font-size: 2.5rem;
  /* Tamaño del texto */
  margin-bottom: 40px;
  /* Espacio debajo del título */
}

#carouselTestimonios {
  max-width: 600px;
  /* Limita el ancho del carrusel */
  margin: 0 auto;
  /* Centra el carrusel */
}

#carouselTestimonios .carousel-item img {
  object-fit: cover;
  /* Ajusta la imagen al contenedor */
  height: 400px;
  /* Ajusta la altura de las imágenes */
  width: 100%;
  border-radius: 8px;
  /* Bordes redondeados */
}




/* ====================== SECCIÓN NOSOTROS ====================== */
#nosotros {
  /* El color que quieras para el fondo */
  min-height: 90vh;
  /* Abarca el 100% de la altura de la pantalla */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  /* Centra el contenido horizontalmente */
  align-items: center;
  /* Centra el contenido verticalmente */

  .dark-mode & {
    color: var(--color-white, #ffffff);
  }

}

#nosotros .card-title {
  color: var(--color-titles-p);
  font-family: "Impact", sans-serif;
  font-weight: 550;
  font-style: normal;
  text-align: center;
  /* Centra el título */
  font-size: 2.5rem;
  /* Tamaño del texto */
  margin-bottom: 30px;
  /* Espacio debajo del título */
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }

}

#nosotros .col-md-6 {
  padding-left: 40px;
  padding-right: 40px;
}

#nosotros .card-text {
  color: var(--color-text-gray);
  font-family: 'Segoe UI', sans-serif;
  font-weight: 200;
  font-style: normal;
  text-align: justify;
  font-size: 1.2rem;
  margin-bottom: 10px;
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }

}

/* Para las imágenes redondeadas del carrusel */
#nosotros .rounded-img {
  border-radius: 15px;
  /* Ajusta el radio según el nivel de redondez que prefieras */
}

#nosotros .custom-button {
  background-color: var(--color-warm-brown);
  color: var(--color-white);
  /* Color del texto del botón */
  border: none;
  /* Elimina el borde por defecto */
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  font-size: 1.2rem;
}

#nosotros .custom-button:hover {
  background-color: var(--color-dark-brown);
  /* Un color más oscuro para el efecto hover */
}


/* ====================== SECCIÓN NOSOTROS - APARTADO MISIÓN ====================== */
#vision,
#mision {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  /* Ocupa al menos el 100% del alto de la pantalla */
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }

}

#mision h2,
#vision h2 {
  color: var(--color-titles-p);
  font-family: "Impact", sans-serif;
  font-weight: 550;
  font-style: normal;
  text-align: center;
  /* Centra el título */
  font-size: 2.5rem;
  /* Tamaño del texto */
  margin-bottom: 30px;
  /* Espacio debajo del título */
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }

}

#mision p,
#vision p {
  color: var(--color-text-gray);
  font-family: 'Segoe UI', sans-serif;
  font-weight: 350;
  font-style: normal;
  text-align: justify;
  font-size: 1.2rem;
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }

}

#mision .col-md-6 {
  padding-left: 40px;
  /* Ajusta según el lado opuesto */
  padding-right: 40px;
  /* Ajusta el valor para más o menos espacio */
}

#vision .col-md-6 {
  padding-left: 40px;
  /* Ajusta según el lado opuesto */
  padding-right: 40px;
  /* Ajusta el valor para más o menos espacio */
}

#mision .rounded-img,
#vision .rounded-img {
  border-radius: 15px;
  /* Ajusta el valor para mayor o menor redondez */
  overflow: hidden;
  /* Asegura que las esquinas estén bien recortadas */
}


/* ====================== SECCIÓN VALORES ====================== */
#valores {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }

}

/* Mantiene el estilo de la tarjeta */
#valores .card {
  background-color: transparent;
  position: relative;
  overflow: hidden;
  /* Esto asegura que todo lo que salga del contenedor de la tarjeta no se vea */
  margin-top: 15px;
  margin-bottom: 30px;
}

/* Estilo para la imagen y el título de la tarjeta */
#valores .card .card-body .card-content {
  transition: opacity 0.3s ease;
  /* Transición suave para ocultar */
}

/* Ocultar descripción inicialmente */
#valores .card .card-body .card-text {
  display: none;
  transition: opacity 0.3s ease;
  /* Transición suave */
}

/* Estilo cuando se pasa el mouse sobre la tarjeta */
#valores .card:hover .card-body .card-content {
  opacity: 0;
  /* Ocultar imagen y nombre al pasar el mouse */
}

#valores .card:hover .card-body .card-text {
  display: block;
  opacity: 1;
  /* Mostrar la descripción */
  text-align: center;
  /* Centrar el texto de la descripción */
}

/* Personalización de bordes y transformación en hover */
#valores .border-custom {
  border: 3px solid var(--color-titles-s);
  border-radius: 10px;
  transition: transform 0.2s;
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }

}

#valores .border-custom:hover {
  transform: scale(1.05);
}

/* Imagen en la tarjeta */
#valores .card-img-top {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 150px;
}

/* Estilo para el título */
#valores .card-title {
  color: var(--color-titles-p);
  font-family: "Impact", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 550;
  font-size: 1.5rem;
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }

}

/* Ajustes del título principal */
#valores h2.text-center {
  color: var(--color-titles-p);
  font-family: "Impact", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 550;
  font-size: 2.7rem;
  margin-bottom: 15px;
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }

}

#valores .card-text {
  color: var(--color-text-gray);
  font-family: 'Segoe UI', sans-serif;
  font-weight: 350;
  font-style: normal;
  text-align: justify !important;
  font-size: 1.2rem;
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }

}


/* ====================== SECCIÓN SERVICIOS - MASAJE RELAJACIÓN ====================== */
#masaje_relajacion {
  /* Fondo claro*/
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  /* Ocupa al menos el 100% del alto de la pantalla */
  
}
#masaje_relajacion .dark-mode {
  background-color: var(--color-black, #121212);
  /* Fondo oscuro */
  color: var(--color-white, #ffffff);
  /* Texto claro */
}


#masaje_relajacion h2 {
  color: var(--color-titles-p);
  /* Color café */
  font-family: "Impact", sans-serif;
  font-weight: 550;
  font-style: normal;
  text-align: center;
  /* Centra el título */
  font-size: 2.5rem;
  /* Tamaño del texto */
  margin-bottom: 30px;
  /* Espacio debajo del título */
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }
}

#masaje_relajacion .text-principal {
  color: var(--color-titles-p);
  /* Color café */
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }
}

#masaje_relajacion .text-secundario {
  color: var(--color-titles-s);
  /* Color café */
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }
}

#masaje_relajacion p {
  color: var(--color-titles-s);
  font-family: 'Segoe UI', sans-serif;
  font-weight: 350;
  font-style: normal;
  text-align: justify;
  font-size: 1.2rem;
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }
}

#masaje_relajacion .col-md-6 {
  padding-left: 40px;
  /* Ajusta según el lado opuesto */
  padding-right: 40px;
  /* Ajusta el valor para más o menos espacio */
}

#masaje_relajacion .col-md-5 {
  padding-left: 40px;
  /* Ajusta según el lado opuesto */
  padding-right: 40px;
  /* Ajusta el valor para más o menos espacio */
}

#masaje_relajacion .rounded-img,
#vision .rounded-img {
  border-radius: 15px;
  /* Ajusta el valor para mayor o menor redondez */
  overflow: hidden;
  /* Asegura que las esquinas estén bien recortadas */
}

#masaje_relajacion .image-hover-container img {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border-radius: 10px;
}

/* Efecto para la imágen */
#masaje_relajacion .image-hover-container img:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.image-hover-container img {
  transition: transform 0.3s ease-in-out;
}

.image-hover-container img:hover {
  transform: translateY(-10px);
}

/* Apartado Beneficios */
#beneficios {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  /* Alinea el título y las columnas verticalmente */
  align-items: center;
}


#beneficios .benefit-section-title {
  color: var(--color-titles-p);
  font-family: "Impact", sans-serif;
  font-style: normal;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 40px;
  /* Ajusta el margen inferior para un mejor espacio */
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }
}


#beneficios .benefit-img {
  width: 350px;
  /* Tamaño de la imagen */
  height: 200px;
  object-fit: cover;
  /* Ajusta la imagen */
  margin-bottom: 20px;
  
}

#beneficios .benefit-title-1,
.benefit-title-3 {
  font-family: "Impact", sans-serif;
  color: var(--color-titles-s);
  font-style: normal;
  font-size: 1.5rem;
  /* Tamaño del texto */
  margin-bottom: 10px;
  /* Espacio debajo del título */
  max-width: 80%;
  /* Limita el ancho del texto para mejorar la legibilidad */
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }
}

#beneficios .benefit-title-2 {
  font-family: "Impact", sans-serif;
  color: var(--color-titles-p);
  font-style: normal;
  font-size: 1.5rem;
  /* Tamaño del texto */
  margin-bottom: 10px;
  /* Espacio debajo del título */
  max-width: 80%;
  /* Limita el ancho del texto para mejorar la legibilidad */
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }
}

#beneficios .benefit-description {
  font-family: 'Segoe UI', sans-serif;
  color: var(--color-text-gray);
  font-weight: 350;
  font-style: normal;
  font-size: 1.2rem;
  max-width: 80%;
  /* Limita el ancho del texto para mejorar la legibilidad */
  text-align: center;
  margin: 0 auto;
  /* Centra horizontalmente */
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }
}


/* Estilo de boton para todos los servicios */
#ofertas_por_servicio .custom-button {
  background-color: var(--color-titles-p);
  padding: 5px 40px;
  color: var(--color-white);
  font-family: 'Segoe UI', sans-serif;
  font-size: 1.2rem;
  font-weight: 350;
  border: none;
  /* Elimina el borde por defecto */
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }
}

#ofertas_por_servicio .custom-button:hover {
  background-color: #B76A57;
  /* Un color más oscuro para el efecto hover */
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }
}

/* Apartado Ofertas  */
#ofertas_por_servicio {
  padding: 60px 0;
  .dark-mode & {
    color: var(--color-black, #000000 );
  }
}

#ofertas_por_servicio .section-title {
  color: var(--color-titles-p);
  /* Color del título */
  font-family: "Impact", sans-serif;
  font-style: normal;
  font-size: 2.5rem;
  /* Tamaño del texto */
  margin-bottom: 40px;
  /* Espacio debajo del título */

  .dark-mode & {
    color: var(--color-white, #ffffff);
  }}

#carouselOfertas {
  max-width: 600px;
  /* Limita el ancho del carrusel */
  margin: 0 auto;
  /* Centra el carrusel */
}

#carouselOfertas .carousel-item img {
  object-fit: cover;
  /* Ajusta la imagen al contenedor */
  height: 400px;
  /* Ajusta la altura de las imágenes */
  width: 100%;
  border-radius: 8px;
  /* Bordes redondeados */
}

#ofertas_por_servicio .image-hover-container img {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#ofertas_por_servicio .image-hover-container img:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}


/* ====================== SECCIÓN SERVICIOS - LIMPIEZA FACIAL ====================== */
#limpieza_facial {

  /* Fondo claro*/
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  /* Ocupa al menos el 100% del alto de la pantalla */
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }

}


#limpieza_facial h2 {
  color: var(--color-titles-p);
  /* Color café */
  font-family: "Impact", sans-serif;
  font-weight: 550;
  font-style: normal;
  text-align: center;
  /* Centra el título */
  font-size: 2.5rem;
  /* Tamaño del texto */
  margin-bottom: 30px;
  /* Espacio debajo del título */
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }

}

#limpieza_facial .text-principal {
  color: var(--color-titles-p);
  /* Color café */
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }

}

#limpieza_facial .text-secundario {
  color: var(--color-titles-s);
  /* Color café */
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }

}

#limpieza_facial p {
  color: var(--color-titles-s);
  font-family: 'Segoe UI', sans-serif;
  font-weight: 350;
  font-style: normal;
  text-align: justify;
  font-size: 1.2rem;
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }

}

#limpieza_facial .col-md-6 {
  padding-left: 40px;
  /* Ajusta según el lado opuesto */
  padding-right: 40px;
  /* Ajusta el valor para más o menos espacio */
}

#limpieza_facial .col-md-5 {
  padding-left: 40px;
  /* Ajusta según el lado opuesto */
  padding-right: 40px;
  /* Ajusta el valor para más o menos espacio */
}

#limpieza_facial .rounded-img,
#vision .rounded-img {
  border-radius: 15px;
  /* Ajusta el valor para mayor o menor redondez */
  overflow: hidden;
  /* Asegura que las esquinas estén bien recortadas */
}


#beneficios {
  min-height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }
}

#beneficios .benefit-img {
  width: 350px;
  /* Tamaño de la imagen */
  height: 200px;
  object-fit: cover;
  /* Ajusta la imagen */
  margin-bottom: 20px;
}

#beneficios .benefit-title-1,
.benefit-title-3 {
  font-family: "Impact", sans-serif;
  color: var(--color-titles-s);
  font-style: normal;
  font-size: 1.5rem;
  /* Tamaño del texto */
  margin-bottom: 10px;
  /* Espacio debajo del título */
  max-width: 80%;
  /* Limita el ancho del texto para mejorar la legibilidad */
}

#beneficios .benefit-title-2 {
  font-family: "Impact", sans-serif;
  color: var(--color-titles-p);
  font-style: normal;
  font-size: 1.5rem;
  /* Tamaño del texto */
  margin-bottom: 10px;
  /* Espacio debajo del título */
  max-width: 80%;
  /* Limita el ancho del texto para mejorar la legibilidad */
}

#beneficios .benefit-description {
  font-family: 'Segoe UI', sans-serif;
  color: var(--color-text-gray);
  font-weight: 350;
  font-style: normal;
  font-size: 1.2rem;
  max-width: 80%;
  /* Limita el ancho del texto para mejorar la legibilidad */
  text-align: center;
  margin: 0 auto;
  /* Centra horizontalmente */
}





/* ====================== SECCIÓN SERVICIOS - MASAJE REDUCTIVO ====================== */
#masaje_reductivo {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  /* Ocupa al menos el 100% del alto de la pantalla */
}

#masaje_reductivo h2 {
  color: var(--color-titles-p);
  /* Color café */
  font-family: "Impact", sans-serif;
  font-weight: 550;
  font-style: normal;
  text-align: center;
  /* Centra el título */
  font-size: 2.5rem;
  /* Tamaño del texto */
  margin-bottom: 30px;
  /* Espacio debajo del título */
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }

}

#masaje_reductivo .text-principal {
  color: var(--color-titles-p);
  /* Color café */
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }

}

#masaje_reductivo .text-secundario {
  color: var(--color-titles-s);
  /* Color café */
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }

}

#masaje_reductivo p {
  color: var(--color-titles-s);
  font-family: 'Segoe UI', sans-serif;
  font-weight: 350;
  font-style: normal;
  text-align: justify;
  font-size: 1.2rem;
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }

}

#masaje_reductivo .col-md-6 {
  padding-left: 40px;
  /* Ajusta según el lado opuesto */
  padding-right: 40px;
  /* Ajusta el valor para más o menos espacio */
}

#masaje_reductivo .col-md-5 {
  padding-left: 40px;
  /* Ajusta según el lado opuesto */
  padding-right: 40px;
  /* Ajusta el valor para más o menos espacio */
}

#masaje_reductivo .rounded-img,
#vision .rounded-img {
  border-radius: 15px;
  /* Ajusta el valor para mayor o menor redondez */
  overflow: hidden;
  /* Asegura que las esquinas estén bien recortadas */
}

#masaje_reductivo .custom-button {
  background-color: var(--color-medium-brown);
  color: var(--color-white);
  /* Color del texto del botón */
  border: none;
  /* Elimina el borde por defecto */
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  font-size: 1.2rem;
}

#masaje_reductivo .custom-button:hover {
  background-color: var(--color-dark-brown);
  /* Un color más oscuro para el efecto hover */
}

/* ====================== SECCIÓN SERVICIOS - ACUPUNTURA ====================== */
#acupuntura {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  /* Ocupa al menos el 100% del alto de la pantalla */
}

#acupuntura h2 {
  color: var(--color-titles-p);
  /* Color café */
  font-family: "Impact", sans-serif;
  font-weight: 550;
  font-style: normal;
  text-align: center;
  /* Centra el título */
  font-size: 3rem;
  /* Tamaño del texto */
  margin-bottom: 30px;
  /* Espacio debajo del título */
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }

}

#acupuntura p {
  color: var(--color-titles-s);
  font-family: 'Segoe UI', sans-serif;
  font-weight: 350;
  font-style: normal;
  text-align: justify;
  font-size: 1.2rem;
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }

}

#acupuntura .col-md-6 {
  padding-left: 40px;
  /* Ajusta según el lado opuesto */
  padding-right: 40px;
  /* Ajusta el valor para más o menos espacio */
}

#acupuntura .col-md-5 {
  padding-left: 40px;
  /* Ajusta según el lado opuesto */
  padding-right: 40px;
  /* Ajusta el valor para más o menos espacio */
}

#acupuntura .rounded-img,
#vision .rounded-img {
  border-radius: 15px;
  /* Ajusta el valor para mayor o menor redondez */
  overflow: hidden;
  /* Asegura que las esquinas estén bien recortadas */
}

#acupuntura .custom-button {
  background-color: var(--color-medium-brown);
  color: var(--color-white);
  /* Color del texto del botón */
  border: none;
  /* Elimina el borde por defecto */
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  font-size: 1.2rem;
}

#acupuntura .custom-button:hover {
  background-color: var(--color-dark-brown);
  /* Un color más oscuro para el efecto hover */
}

/* ====================== SECCIÓN RESERVACIONES ====================== */
/* ------ FORMULARIO RESERVAS ------ */
#reservacion {
  display: flex;
  justify-content: center;
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }
}

#reservacion .reservation-section {
  margin-top: 60px;
  /* Espacio en la parte superior */
  margin-bottom: 60px;
  /* Espacio en la parte inferior */
}


/* Estilo del título con colores específicos para cada palabra */
#reservacion h1 {
  font-family: "Impact", sans-serif;
  font-style: normal;
  font-size: 2rem;
  /* Tamaño del texto */
  margin-bottom: 10px;
  /* Espacio debajo del título */
}

#reservacion .text-primary-color {
  color: var(--color-titles-p);
  /* Color para la primera parte del texto */
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }
}

#reservacion .text-secondary-color {
  color: var(--color-titles-s);
  /* Color para la segunda parte del texto */
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }

}

#reservation-form input[type="text"],
#reservation-form input[type="tel"],
#reservation-form input[type="email"],
#reservation-form input[type="datetime-local"],
#reservation-form input[type="month"],
#reservation-form select,
#reservation-form textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #906D62;
  outline: none;
  color: var(--color-text-gray);
  font-size: 1em;
  padding: 5px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 100%;

}

/* Estilo del texto de los placeholders */
#reservation-form input::placeholder,
#reservation-form select::placeholder,
#reservation-form textarea::placeholder {
  color: var(--color-text-gray-ph);
  font-family: 'Segoe UI', sans-serif;
  font-weight: 350;
  font-style: normal;
  text-align: justify;
  font-size: 1.2rem;
  
}

/* Estilo de los labels */
#reservation-form label {
  display: block;
  margin-top: 10px;
  color: var(--color-text-gray);
  font-family: 'Segoe UI', sans-serif;
  font-weight: 350;
  font-style: normal;
  text-align: justify;
  font-size: 1.2rem;
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }

}

/* Contenedor para los campos de Teléfono y Correo en una sola fila */
#reservation-form .form-row {
  display: flex;
  gap: 20px;
  /* Espacio entre los campos */
  margin-bottom: 20px;
}

/* Estilo del botón de enviar */
#reservation-form .custom-button {
  background-color: var(--color-titles-p);
  /* Color de fondo del botón */
  padding: 5px 20px;
  font-family: 'Segoe UI', sans-serif;
  color: var(--color-white);
  /* Color del texto del botón */
  font-weight: 350;
  font-style: normal;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-reservar {
  text-align: center;
  /* Centra el botón horizontalmente */
}

#reservation-form .custom-button:hover {
  background-color: var(--color-hover-elements);
}

/* Estilo de la sección de checkbox */
#reservation-form .checkbox-group {
  display: flex;
  align-items: center;

}

#reservation-form .checkbox-group label {
  margin-left: 8px;
  color: var(--color-text-gray);

  margin-bottom: 12px;
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }

}

/* Efecto hover en enlaces de términos y políticas */
#reservation-form .checkbox-group a {
  color: var(--color-titles-p);
  text-decoration: underline;
  transition: color 0.3s;
}

#reservation-form .checkbox-group a:hover {
  color: var(--color-titles-s);
  text-decoration: underline;
}





/* ====================== SECCIÓN CONOCENOS ====================== */
/* ------- APARTADO CONOCENOS ------ */
#conocenos .justify-content-center {

  /* Fondo claro*/
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }
}

/* Estilos adicionales para mejorar la presentación */
#conocenos .card-title {
  color: var(--color-titles-p);
  font-family: "Impact", sans-serif;
  font-style: normal;
  text-align: center;
  /* Centra el título */
  font-size: 2.5rem;
  /* Tamaño del texto */
  margin-bottom: 30px;
  /* Espacio debajo del título */
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }

}

/* Colores específicos para el título */
.text-primary {
  color: var(--color-titles-p);
}

.text-secondary {
  color: var(--color-titles-s);
}

#conocenos .card-text {
  color: var(--color-text-gray);
  font-family: 'Segoe UI', sans-serif;
  font-weight: 350;
  font-style: normal;
  text-align: justify;
  font-size: 1.2rem;
  margin-bottom: 10px;
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }
}

/* Estilos para la columna de texto */
#conocenos .col-md-6 {
  padding-left: 40px;
  padding-right: 40px;
}

/* Estilo para imágenes redondeadas */
#conocenos .rounded-img {
  border-radius: 15px;
  /* Puedes ajustar el valor según el nivel de redondez deseado */
}

#conocenos .image-hover img {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border-radius: 10px;
}

#conocenos .image-hover img:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

#conocenos .image-hover img {
  transition: transform 0.3s ease-in-out;
}

#conocenos .image-hover img:hover {
  transform: translateY(-10px);
}

/* ------ FORMULARIO CONTACTANO0S ------*/
#contact-us {
  display: flex;
  justify-content: center;
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }

}

#contact-us .contact-section {
  margin-top: 60px;
  /* Espacio en la parte superior */
  margin-bottom: 60px;
  /* Espacio en la parte inferior */
}

#contact-us h1 {
  font-family: "Impact", sans-serif;
  font-style: normal;
  font-size: 2rem;
  /* Tamaño del texto */
  margin-bottom: 10px;
  /* Espacio debajo del título */
}

#contact-us .text-primary-color {
  color: var(--color-titles-p);
  /* Color para la primera parte del texto */
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }

}

#contact-us .text-secondary-color {
  color: var(--color-titles-s);
  /* Color para la segunda parte del texto */
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }

}

/* Estilo de los campos de entrada y select */
#contact-us .contact-form input[type="text"],
#contact-us .contact-form input[type="tel"],
#contact-us .contact-form input[type="email"],
#contact-us .contact-form input[type="text"],
#contact-us .contact-form textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #906D62;
  outline: none;
  color: var(--color-text-gray);
  font-size: 1em;
  padding: 5px;
  margin-bottom: 20px;
  width: 80%;
  max-width: 100%;
}

/* Estilo del texto de los placeholders */
#contact-us .contact-form input::placeholder,
#contact-us .contact-form select::placeholder,
#contact-us .contact-form textarea::placeholder {
  color: var(--color-text-gray-ph);
  font-family: 'Segoe UI', sans-serif;
  font-weight: 350;
  font-style: normal;
  text-align: justify;
  font-size: 1.2rem;
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }

}

#contact-us .contact-form label {
  display: block;
  margin-top: 10px;
  color: var(--color-text-gray);
  font-family: 'Segoe UI', sans-serif;
  font-weight: 350;
  font-style: normal;
  text-align: justify;
  font-size: 1.2rem;
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }

}

#contact-us .contact-info p {
  display: block;
  margin-top: 10px;
  color: var(--color-text-gray);
  font-family: 'Segoe UI', sans-serif;
  font-weight: 350;
  font-style: normal;
  text-align: justify;
  font-size: 1.2rem;
}

/* Contenedor para los campos de Teléfono y Correo en una sola fila */
#contact-us .form-row {
  display: flex;
  gap: 20px;
  /* Espacio entre los campos */
  margin-bottom: 20px;
}

#contact-us .custom-button {
  background-color: var(--color-titles-p);
  /* Color de fondo del botón */
  padding: 5px 40px;
  font-family: 'Segoe UI', sans-serif;
  color: var(--color-white);
  /* Color del texto del botón */
  font-weight: 350;
  font-style: normal;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.send-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Centra el botón horizontalmente */
}

#contact-us .custom-button:hover {
  background-color: var(--color-hover-elements);
}


/* ------ CONOCENOS - MAPA DE LOCALIZACIÓN ------ */
.map-section {
  text-align: center;
  padding: 0;
  height: 100vh;
  /* Ocupa toda la altura visible */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }
}

/* Estilos para h2 */
.map-section h2 {
  color: var(--color-titles-p);
  font-family: "Impact", sans-serif;
  font-weight: 550;
  text-align: center;
  font-size: 3rem;
  margin-top: 50px;
  margin-bottom: 20px;
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }

}


/* Estilos para p */
.map-section p {
  color: var(--color-text-gray);
  font-family: 'Segoe UI', sans-serif;
  font-size: 1.2rem;
  display: block;
  margin-top: 15px;
  max-width: 1200px;
  /* Limita el ancho del párrafo */
  margin-left: auto;
  /* Centra el texto horizontalmente */
  margin-right: auto;
  padding: 0 20px;
  /* Añade padding para un mejor espacio */
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }

}

#ubicanos .map-container {
  width: 95vw;
  /* Ajuste del ancho con margen */
  height: 90vh;
  /* Ajuste del alto con margen */
  border-radius: 20px;
  /* Esquinas redondeadas */
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  /* Añade una sombra sutil para un mejor efecto */
}

#ubicanos iframe {
  width: 100%;
  height: 100%;
  border: none;
}

@media (max-width: 768px) {
  .map-section h2 {
    font-size: 2rem;
  }

  .map-section p {
    font-size: 1rem;
  }

  .map-container {
    border-radius: 15px;
    /* Ajusta el radio de las esquinas en pantallas más pequeñas */
  }
}





/* ====================== FOOTER ====================== */
footer {
  background-color: var(--color-bg-footer);
  padding: 5px 5px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto;
}

.footer-section-1 h3,
.footer-section-2 h3 {
  color: var(--color-titles-s);
  font-family: "Impact", sans-serif;
  font-weight: 450;
  font-size: 2rem;
  margin-top: 30px;
  .dark-mode & {
    color: var(--color-white, #ffffff);
  }
}

.footer-section-2 p,
.footer-section-2 a {
  color: var(--color-white);
  font-family: 'Segoe UI', sans-serif;
  font-weight: 350;
  font-size: 1.2rem;
  text-decoration: none;
}

.footer-section-2 a:hover {
  color: var(--color-dark-brown);
  font-weight: 500;
}

#footer-container .map-container {
  width: 100%;
  overflow: hidden;
  max-height: 200px;
  position: relative;
}

#footer-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* Iconos de redes sociales */
.footer-section-1 a {
  color: var(--color-white);
  font-size: 2rem;
  /* Tamaño de los iconos */
  margin-right: 20px;
  /* Espaciado entre los iconos */
  text-decoration: none;
}

.footer-section-1 a:hover {
  color: var(--color-dark-brown);
  font-weight: 500;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  border-top: 3px solid var(--color-white);
  padding-top: 10px;
}

.footer-bottom p {
  color: var(--color-white);
  font-family: 'Segoe UI', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
  }

  .footer-section {
    margin: 20px 0;
  }
}
